@import 'normalize';
@import 'super_sprite';
@import 'owl.carousel';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700&subset=latin,cyrillic-ext,cyrillic);
$maincolor: #222;
$redcolor: #b01e36;
$greycolor: #a29a9a;
$greencolor: #57a31b;
$trs: all 2s;
$bdrs: 5px;

* {
  box-sizing: border-box;

  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  &:after,
  &:before {
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;

  margin: 0;
}
p {
  margin: 0 0 18px;
}
fieldset {
  margin: 0;
  padding: 0;
}
a,
input,
button {
  transition: $trs;

  outline: none;
}
input,
textarea {
  font-size: 16px;

  padding: 13px;

  color: #929191;
  border: 1px solid #ccd4d8;
  border-radius: $bdrs;
  &:hover,
  &:focus,
  &:active {
    border-color: darken(#ccd4d8, 25%);
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;

  min-width: 320px;

  color: $maincolor;
}
.inner {
  position: relative;

  width: 980px;
  margin: 0 auto;
}
/* clearfix */
.clearfix {
  &:before {
    display: table;

    content: '';
  }
  &:after {
    display: table;
    clear: both;

    content: '';
  }
}
.clear {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.hentry {
  img {
    max-width: 100%;

    vertical-align: bottom;
  }
}


/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
  position: relative;

  width: 100%;
  margin: 0 auto;
}
header,
article {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

header {
  height: 120px;
  nav,
  .logo,
  .lang-selector,
  .phone {
    display: inline-block;
    float: left;

    height: 100%;
  }
  .logo {
    display: inline-block;

    width: 116px;
    padding: 10px 0 0;
    img {
      width: 116px;
      height: 100px;
    }
  }
  nav {
    width: 430px;
    margin: 0 4px 0 0;
    ul {
      display: block;

      padding: 50px 0;

      text-align: center;
      li {
        font-size: 15px;
        font-weight: 300;

        display: inline-block;

        margin: 0 10px;
        a {
          text-decoration: none;

          color: black;
          &:hover {
            color: $redcolor;
          }
        }
      }
    }
  }
  .lang-selector {
    position: relative;

    display: none;

    width: 250px;
    padding: 45px 0 0;

    text-align: center;

    opacity: 0;
    li {
      position: relative;
      z-index: 50;

      display: none;

      width: 100px;
      height: 40px;
      margin: 0 auto;

      list-style: none;

      text-align: center;

      border: 1px solid $greycolor;
      a {
        display: block;

        width: 100%;
        height: 100%;
        padding: 10px 0;

        text-decoration: none;

        color: black;
      }
      &:before {
        position: absolute;
        top: 10px;
        left: 10px;

        display: block;

        content: '';

        @include sprite($sprite-ico-lang-rus);
      }
      &:first-child {
        display: block;

        border: 1px solid transparent;
        &:after {
          position: absolute;
          top: 18px;
          right: 10px;

          display: block;

          content: '';

          @include sprite($sprite-ico-arrow-bottom);
        }
      }
      &:nth-child(2) {
        margin-top: -2px;

        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        &:before {
          @include sprite($sprite-ico-lang-eng);
        }
      }
      &:last-child {
        margin-top: -2px;

        border-top: 1px solid transparent;
        &:before {
          @include sprite($sprite-ico-lang-geo);
        }
      }
    }
    &:hover {
      li {
        display: block;
        &:first-child {
          border: 1px solid $greycolor;
          border-bottom: 1px solid transparent;
          &:after {
            @include sprite($sprite-ico-arrow-top);
          }
        }
      }
    }
  }
  .phone-block {
    position: relative;

    display: block;
    float: right;

    width: 180px;
    height: 120px;
    padding: 40px 0 0;
    &:after {
      font-size: 12px;
      font-weight: 300;

      position: absolute;
      top: 95px;
      left: 0;

      width: 100%;

      content: 'звоните круглосуточно';
      text-align: center;

      color: $greycolor;
    }
    .phone {
      font-size: 21px;

      position: relative;

      height: 30px;
      padding: 0 0 0 20px;
      &:hover {
        a {
          color: $redcolor;
        }
      }
      a {
        position: relative;

        height: 30px;

        text-align: left;
        text-decoration: none;

        color: #333;
      }
      &:before {
        position: absolute;
        top: 5px;
        left: 0;

        display: block;

        content: '';

        @include sprite($sprite-ico-phone);
      }
    }
  }
}
.home-slider {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 610px;
  .forcefullwidth_wrapper_tp_banner {
    height: 610px !important;
  }
  .heading-rocker {
    position: absolute;
    z-index: 100;
    top: 0;

    width: 100%;
    height: 610px;

    background-image: url(../img/slide-rocker.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    h4,
    h5 {
      text-align: center;
    }
    h4 {
      font-size: 41px;

      padding-top: 37px;
      padding-bottom: 15px;

      color: #333;
    }
    h5 {
      font-size: 16px;

      color: #181818;
    }
  }
  .go-bottom {
    position: relative;

    width: 980px;
    height: 1px;
    margin: -1px auto 0;
    a {
      position: absolute;
      z-index: 100;
      bottom: 155px;
      left: 468px;

      display: block;

      width: 44px;
      height: 44px;

      border-radius: 50%;
      background-color: black;
      &:after {
        position: absolute;
        top: 15px;
        left: 12px;

        display: block;

        content: '';
        transition: all 1s;

        @include sprite($sprite-ico-arrow-bottom-big);
      }
      &:hover {
        &:after {
          top: 25px;
        }
      }
    }
  }
}
#scroll {
  position: relative;
  z-index: -100;
  top: -250px;
}
.select-rooms {
  height: 90px;
  padding: 10px 0;

  background-color: $redcolor;
  form {
    width: 980px;
    margin: 0 auto;

    text-align: center;
    input,
    button {
      font-size: 20px;

      display: inline-block;

      height: 35px;
      margin: 0 10px;

      border: 0;
    }
    input {
      font-weight: 300;

      width: 150px;
      padding: 15px 10px 15px 40px;

      color: #000;
      background-image: url(../img/bg/ico-calendar.png);
      background-repeat: no-repeat;
      background-position: 5px center;
    }
    button {
      font-size: 20px;

      width: 340px;

      text-align: center;

      color: #fff;
      border-radius: $bdrs;
      background-color: #57a31b;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .31);
    }
  }
}
.five-slides {
  /* height: 870px; */
  min-height: 870px;

  background-image: url(../img/bg/five-slides.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .inner {
    /* width: 1100px; */
    width: 100%;
  }
  .tp-caption {
    img {
      transition: all 2s;
      &:hover {
        transform: scale(1.1);
      }
      .bnovo-form {
        padding: 0 88px;
      }
    }
  }
}
.features-carousell {
  width: 100%;
  // min-width: 980px;
  // height: 390px;min-height: 390px;
  &:hover {
    h5 {
      background-color: lighten(#6f7f4d, 15%) !important;
    }
  }
  .carousell-container {
    position: relative;

    display: inline-block;
    float: left;
    overflow: hidden;

    width: 25%;
    min-width: 245px;
    height: 100%;

    border: 0;
    img {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;

      width: 100%;
      height: 290px;
    }
    h5 {
      font-size: 20px;
      font-weight: 400;

      position: relative;
      position: absolute;
      z-index: 5;
      top: 290px;
      left: 0;

      width: 100%;
      margin: 0 0 30px;
      padding: 30px 25px 200px;

      transition: $trs;

      color: #fff;
      border-top: 9px solid #ff882b;
      background-color: #6f7f4d;
      span {
        font-size: 16px;
        font-weight: 300;

        display: block;

        padding-top: 30px;
      }
    }
    &:nth-child(2) {
      h5 {
        border-color: #0db8e7;
      }
    }
    &:nth-child(3) {
      h5 {
        border-color: #ad8fe7;
      }
    }
    &:nth-child(4) {
      h5 {
        border-color: #b1bddf;
      }
    }
    &:nth-child(odd) {
      h5 {
        background-color: lighten(#6f7f4d, 15%);
      }
    }
    &:hover {
      h5 {
        top: 170px;

        color: #fff;
        background-color: darken(#6f7f4d, 5%) !important;
        text-shadow: 2px 2px 2px #333;
      }
    }
  }
}
.user-from {
  font-size: 10px;

  position: relative;

  margin: 0 0 0 15px;
  padding: 0 0 0 15px;

  color: #666;
  &:before {
    position: absolute;
    top: 3px;
    left: -3px;

    content: '';
  }
}
.user-from-be {
  &:before {
    @include sprite($sprite-ico-count-be);
  }
}
.user-reviews {
  height: 410px;
  padding: 115px 0 0;
  h5 {
    font-size: 30px;
    font-weight: 300;

    margin: 0 0 30px;

    text-align: center;

    color: #292929;
  }
  .item {
    margin: 0 270px;
    p {
      font-size: 16px;
      font-weight: 300;
      font-style: italic;

      margin: 0 0 20px;

      color: #181818;
    }
    .user-name {
      font-size: 16px;
      font-weight: 400;
      font-style: normal !important;
    }
  }
  .owl-carousel {
    position: relative;
  }
  .owl-dots {
    display: none;
  }
  .owl-controls,
  .owl-nav {
    position: absolute;
    top: 0;

    display: block;

    width: 100%;
    height: 128px;
  }
  .owl-nav {
    position: absolute;
    top: 0;
    .owl-prev,
    .owl-next {
      font-size: 35px;
      font-weight: bold;

      position: absolute;
      top: 0;

      display: block;

      width: 58px;
      height: 58px;

      transition: $trs;
      text-align: center;

      color: #70747c;
      border: 5px solid #e0e3ec;
      border-radius: 50%;
      &:hover {
        color: darken(#70747c, 20%);
        border-color: darken(#e0e3ec, 20%);
      }
      &:active {
        color: darken(#70747c, 40%);
        border-color: darken(#e0e3ec, 40%);
      }
    }
    .owl-next {
      right: 135px;
    }
    .owl-prev {
      left: 135px;
    }
  }
}
.home-map {
  position: relative;

  height: 670px;
  .acf-map {
    width: 100%;
    height: 670px;
    margin: 0;

    border: 0;
    /*       position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0; */
  }
  .circle {
    position: absolute;
    z-index: 50;
    top: 60px;
    left: 20px;

    display: none;

    width: 360px;
    height: 360px;
    padding: 80px 20px 0 50px;

    transition: $trs;

    color: #fff;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .40);
    h5 {
      font-size: 20px;
      font-weight: 700;

      margin: 0 0 5px;
    }
    p {
      margin: 0 0 25px;
      a {
        text-decoration: none;

        color: #fff;
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, .80);
    }
  }
}
.block-with-from {
  height: 360px;
  padding: 80px 0 0;
  h5 {
    font-size: 30px;
    font-weight: 300;

    text-align: center;

    color: #292929;
  }
  ._bn_widget_ {
    margin: 0 auto;

    background-color: red;
  }
  .bnovo-form__header {
    display: none !important;
  }
  form {
    width: 320px;
    margin: 0 auto;
    padding: 30px 0 0;

    text-align: center;
    input {
      display: inline-block;

      width: 150px;
      height: 40px;
      padding: 10px 10px 10px 50px;

      text-align: right;

      border: 1px solid #ccd4d8;
      border-radius: $bdrs;
      outline: none;
      background-image: url(../img/bg/ico-calendar.png);
      background-repeat: no-repeat;
      background-position: 5px center;
      &:first-child {
        margin: 0 5px 30px 0;
      }
      &:last-child {
        margin: 0 5px 30px 0;
      }
    }
    button {
      font-size: 20px;
      font-weight: 300;

      padding: 10px 35px;

      text-align: center;

      color: #fff;
      border: 0;
      border-radius: 16px;
      background-color: $greencolor;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .4);
      &:hover {
        background-color: darken($greencolor, 5%);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .4);
      }
      &:active {
        background-color: darken($greencolor, 15%);
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .4);
      }
    }
  }
}
section {
  background-color: #f2f2f2;
  img {
    /*       max-width: 100%; */
  }
}
.single,
.page {
  section {
    article {
      width: 640px;
      margin: 0 auto;
      padding: 40px 0;
      p {
        line-height: 1.8;
      }
      ul,
      ol {
        margin: 0 0 15px;
        padding: 0 5px;

        list-style-position: inside;
        li {
          margin: 0 0 10px;
        }
      }
      ul {
        list-style-type: none;
        li {
          &:before {
            font-size: 20px;
            font-weight: bold;

            content: '• ';

            color: #b01e36;
          }
        }
      }
    }
    .inner-title {
      font-size: 40px;
      font-weight: 300;

      margin: 0 0 28px;

      color: #333;
    }
  }
}
.page {
  .inner-title {
    text-align: center;
  }
}
.category {
  .cat-title {
    font-size: 40px;
    font-weight: 300;

    margin: 0 0 28px;

    text-align: center;

    color: #333;
    a {
      text-decoration: none;

      color: #333;
    }
  }
  article {
    position: relative;

    width: 920px;
    height: 240px;
    margin: 0 auto 18px;
    padding: 0 15px 0 0;

    background-color: #fff;
    .feature-img {
      float: left;

      width: 410px;
      height: 100%;
      margin: 0 16px 0 0;
      img {
        width: 410px;
        height: 240px;
      }
    }
    .looper-title {
      font-size: 20px;
      font-weight: 300;

      padding: 10px 0;

      color: #2a2a2a;
      a {
        text-decoration: none;

        color: #2a2a2a;
      }
    }
    .date {
      font-size: 14px;

      display: block;

      margin: 0 20px 15px 425px;
      padding: 0 0 10px;

      color: #9b9b9b;
      border-bottom: 1px solid #e3e3e3;
    }
    .view-article {
      font-size: 16px;

      position: absolute;
      top: 175px;
      right: 15px;

      display: block;

      width: 180px;
      padding: 15px 0;

      text-align: center;
      text-decoration: none;

      color: #fff;
      border-radius: 8px;
      background-color: #00a7a4;
      &:hover {
        background-color: darken(#00a7a4, 20%);
      }
    }
  }
}
.pagination {
  width: 920px;
  margin: 10px auto 0;
  padding: 15px 0 25px;

  text-align: center;
  span,
  a {
    font-size: 16px;

    display: inline-block;

    margin: 0 5px;
    padding: 15px;

    text-decoration: none;

    border: 1px solid transparent;
    border-radius: 8px;
  }
  a {
    color: #fff;
    background-color: #00a7a4;
    &:hover {
      background-color: darken(#00a7a4, 20%);
    }
  }
  span {
    border: 1px solid #00a7a4;
  }
}
.post-details {
  font-size: 13px;

  margin: 0 0 30px;

  color: #959494;
  a {
    text-decoration: none;

    color: #959494;
  }
  span {
    margin: 0 5px 0 0;
  }
  .categorised {
    a {
      text-decoration: underline;
    }
  }
}
.see-also {
  h6 {
    font-size: 30px;

    margin: 0 2px;
  }
  ul {
    display: block !important;

    height: 210px;
    margin: 0 0 20px !important;
    padding: 0 !important;

    list-style-type: none !important;
    li {
      display: inline-block;
      float: left;

      width: 200px !important;
      margin: 0 10px !important;
      &:before {
        display: none;
      }
      &:first-child {
        margin-left: 0 !important;
      }
      &:last-child {
        margin-right: 0 !important;
      }
      h4 {
        font-size: 13px;
        font-weight: 300;

        color: #333;
        a {
          text-decoration: none;

          color: #333;
        }
      }
      img {
        width: 100%;
        height: 140px;
        margin: 0 0 14px;
      }
    }
  }
}
footer {
  height: 300px;
  padding: 55px 0 0;

  background-color: #dbdbdb;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center 170px;
  ul {
    width: 980px;
    margin: 0 auto;

    list-style-type: none;

    text-align: center;
    li {
      display: inline-block;

      margin: 0 30px;
      a {
        text-decoration: none;
      }
    }
  }
  .footernav {
    margin: 0 auto 50px;
    li {
      a {
        color: #464646;
      }
      &:hover {
        a {
          text-decoration: underline;

          color: #000;
        }
      }
    }
  }
  .socialsisi {
    font-weight: 400;

    display: block !important;

    color: #4985af;
    li {
      position: relative;

      padding: 3px 0 3px 30px;
      a {
        color: #4985af;
      }
      &:before {
        position: absolute;
        top: 7px;
        left: 0;

        display: block;

        content: '';
      }
    }
    .soc-vk {
      &:before {
        @include sprite($sprite-ico-soc-vk);
      }
    }
    .soc-fb {
      padding-left: 15px;
      &:before {
        top: 5px;

        @include sprite($sprite-ico-soc-fb);
      }
    }
    .soc-gp {
      padding-left: 25px;
      &:before {
        @include sprite($sprite-ico-soc-gp);
      }
    }
  }
}
.contact-page {
  padding: 40px 0 80px;
  .inner {
    width: 760px;
  }
  .cont-container {
    display: inline-block;
    float: left;

    width: 325px;
    padding: 0 25px 0 0;
    p {
      line-height: 1;

      margin: 0 0 8px;
    }
  }
  .wpcf7 {
    display: inline-block;
    float: left;

    width: 435px;
    input {
      display: inline-block;

      height: 40px;
    }
    input,
    textarea {
      margin: 0 20px 20px 0;
    }
    input[type=text] {
      width: 144px;
    }
    input[type=email] {
      width: 270px;
      margin-right: 0;
    }
    textarea {
      width: 434px;
      height: 120px;
      margin-right: 0;
    }
    input[type=submit] {
      font-size: 20px;
      font-weight: 300;

      width: 180px;
      padding: 10px 25px 10px 55px;

      color: #fff;
      border: 0;
      background-color: #00a7a4;
      background-image: url(../img/ico/ico-mail.png);
      background-repeat: no-repeat;
      background-position: 13px center;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, .004);
      &:hover,
      &:active {
        background-color: darken(#00a7a4, 25%);
      }
    }
  }
}
.page-template-page-contact {
  .circle {
    display: none;
  }
}
.page-template-page-all-numbers {
  .mainer {
    width: 930px;
    margin: 0 auto;
  }
  .numbers-catalog {
    display: block;

    margin: 0;
    padding: 0;

    list-style-type: none;
    li {
      position: relative;

      display: block;

      width: 100%;
      height: 260px;
      margin: 0 0 20px;
      padding: 0;

      background-color: #fff;
      &:before {
        display: none;
      }
      a {
        text-decoration: none;

        color: #2a2a2a;
      }
      img {
        float: left;

        width: 400px;
        height: 100%;
        margin: 0 20px 0 0;

        border: 0;
      }
      h2 {
        font-size: 20px;

        color: #2a2a2a;
      }
      .price {
        font-size: 25px;
        font-weight: 600;

        position: absolute;
        z-index: 15;
        top: 0;
        left: 0;

        display: block;

        width: 90px;
        height: 43px;
        padding: 4px 0;

        text-align: center;

        color: #fff;
        background-color: #b01e36;
      }
      form {
        display: block;

        text-align: center;
        input,
        button {
          display: inline-block;

          width: 130px;
          height: 40px;
          margin: 0 5px;
        }
        input {
          font-weight: 300;

          text-align: right;

          background-image: url(../img/bg/ico-calendar.png);
          background-repeat: no-repeat;
          background-position: 5px center;
        }
        button {
          font-size: 16px;
          font-weight: 400;

          width: 160px;

          text-transform: uppercase;

          color: #fff;
          border: 0;
          border-radius: 6px;
          background-color: #57a31b;
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .4);
        }
      }
    }
  }
}
.page-template-page-reviews {
  section {
    width: 770px;
    margin: 0 auto;

    background-color: transparent;
    .lazy-selector {
      font-size: 40px;

      margin: 0 auto 16px;

      text-align: center;

      color: #292929;
    }
  }
}
.all-review-page {
  display: block;

  margin: 0 auto;
  padding: 0;

  list-style-type: none;
  li {
    position: relative;

    display: block;

    padding: 20px;
    &:nth-child(odd) {
      background-color: #fff;
    }
  }
}
.paginugets {
  text-align: center;
  a,
  span {
    display: inline-block;

    margin: 0 5px;
  }
}
::selection,
::-webkit-selection,
::-moz-selection {
  color: #fff;
  background: #04a4cc;
  text-shadow: none;
}
/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px;
}
.aligncenter,
div.aligncenter {
  display: block;

  margin: 5px auto;
}
.alignright {
  float: right;

  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;

  margin: 5px 20px 20px 0;
}
.wp-caption {
  max-width: 96%;
  padding: 5px 3px 10px;

  text-align: center;

  border: 1px solid #f0f0f0;
  background: #fff;
  img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    margin: 0;
    padding: 0;

    border: 0 none;
  }
  .wp-caption-text {
    font-size: 80%;
    line-height: 17px;

    margin: 0;
    padding: 0 4px 5px;
  }
}
.gallery-caption {
  font-size: 80%;
  line-height: 17px;

  margin: 0;
  padding: 0 4px 5px;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a {
    text-decoration: underline;
    &:visited {
      text-decoration: underline;
    }
    &[href]:after {
      content: ' (' attr(href) ')';
    }
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  .ir a:after {
    content: '';
  }
  a {
    &[href^='javascript:']:after,
    &[href^='#']:after {
      content: '';
    }
  }
  pre,
  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;

    page-break-inside: avoid;
  }
  @page {
    margin: .5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
