
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=ae9f09219ae94c6b055a9646a107489c
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress