
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=8cc5999bc5c3273abab5ffe23b0ce8de
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress